<div class="contenedor">
  <!-- El siguiente elemento se oculta añadiéndole la clase "off" -->
  <span class="mensaje" [class.off]="!llamando">Llamando...</span>
  <main class="telefono">
    <div class="botones">
      <ol class="botonera">
        <li *ngFor="let n of numeros"><button (click)="pulsaNumero(n)">{{n}}</button></li>
      </ol>
      <button (click)="borrarNumero()">Borrar</button>
    </div>
    <div class="acciones">
      <span class="numero">{{numero}}</span>
      <a href="#" class="llamar" (click)="handlerLlamada($event)" [class.activo]="esNumeroCompleto()"
        *ngIf="!llamando">Llamar</a>
      <a href="#" class="colgar activo" (click)="handlerLlamada($event)" *ngIf="llamando">Colgar</a>
    </div>
  </main>
</div>
